/* reset do css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../assets/images/background.png");
    background-size: cover;
    font-family: Arial;
    font-size: 12px;
}

/*Se a tela tiver ao menos 400px*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/*media querys, também chamados de breakpoints*/
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* HEADER */

header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background: #202020;
    border-top: 1px solid #353535;
    box-shadow: 0 4px 0px 0 lightgray;    
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 10px;;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: whitesmoke;
    font-size: 1.5em;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

.site-subtitle {
    overflow: hidden; /* Esconde nosso texto até a animação ser iniciada */
    border-right: 1px solid white; /* Essa bordar exibirá o efeito do cursor */
    white-space: nowrap;  
    margin: 0 auto; 
    animation: 
        typing 1.5s steps(40, end),
        blink-cursor .90s step-end infinite;
}

/* ABOUT ME */

.star-wars {
    color: transparent;
    height: 10vh;
}

.star-wars:hover {
    display: flex;
    justify-content:space-around;
    position: relative;
    height: 95vh;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 650%;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 110%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 34s linear infinite;
  animation-iteration-count: 1000;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(25deg)  translateZ(0);
  }
  100% { 
    top: -5500px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/* PROJECTS */

.portifolio {
    padding: 2em;
    height: 100vh;
}

.portifolio h2{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.5em;
}

.portifolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 840px) {
    .portifolio .grid {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
    }
}

.portifolio figure {
    text-align: center;
    font-size: 1.2em;
}

.portifolio figure a {
    color: whitesmoke;
}

.img-portifolio {
    height: 260px;
    width: 420px;
    object-fit: cover;
}

.img-portifolio:hover {
    transform: scale(1.5);
    transition: transform .5s;
    border: 5px solid #feda4a;
}
/*@keyframes especifica quando o estilo vai mudar e o percentual*/
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
 
@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
